# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: "Will Cooke (8none1)"
author: Will Cooke
email: blog@whizzy.org
description: >- # this means to ignore newlines until "baseurl:"
  Will Cooke (8none1) - Software engineer, podcaster, and Linux enthusiast. Director at Chainguard, Late Night Linux podcast co-host. Writing about code, gadgets, and home automation.

navbar-links:
   About Me: "aboutme"
   Will Cooke: "will-cooke"
#   Resources:
#     - Beautiful Jekyll: "https://beautifuljekyll.com"
#     - Learn markdown: "https://www.markdowntutorial.com/"
#   Author's home: "https://deanattali.com"

#avatar: "/assets/img/avatar-icon.png"
#round-avatar: true


domain: whizzy.org
baseurl: "" # the subpath of your site, e.g. /blog
url: https://www.whizzy.org # the base hostname & protocol for your site, e.g. http://example.com


social-network-links:
  email: "blog@whizzy.org"
  rss: true  # remove this line if you don't want to show an RSS link at the bottom
  github: 8none1
  mastodon: fosstodon.org/@8none1
  bluesky: 8none1.org

rss-description: whizzy.org RSS feed

share-links-active:
  facebook: true
  linkedin: true
  reddit: true
#  vk: false
# Note: Mastodon and Bluesky are not available as share buttons in Beautiful Jekyll yet
# They are only available as profile links in the footer (configured above in social-network-links)

excerpt_length: 50
feed_show_excerpt: true
feed_show_tags: true
post_search: true

# navbar-col: "#EAEAEA"
# navbar-text-col: "#404040"
# navbar-border-col: "#DDDDDD"
# page-col: "#FFFFFF"
# text-col: "#404040"
# link-col: "#008AFF"
# hover-col: "#0085A1"
# footer-col: "#EAEAEA"
# footer-text-col: "#777777"
# footer-link-col: "#404040"
# footer-hover-col: "#0085A1"


site-css:
 - "/assets/css/custom-styles.css"


# Build settings

timezone: "Europe/London"
date_format: "%-d %B %Y"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM
  syntax_highlighter_opts:
    disable: true

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # any file that's not a post will be a "page" layout by default
    values:
      layout: "page"


#theme: beautiful-jekyll-theme
remote_theme: daattali/beautiful-jekyll@6.0.1
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-remote-theme


exclude:
  - CHANGELOG.md
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - screenshot.png
  - docs/


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
