<div class="author-box" itemscope itemtype="https://schema.org/Person">
  <img class="author-box-img" src="/assets/img/will-cooke-8none1.jpg" alt="Will Cooke (8none1)" width="80" height="80" itemprop="image" />
  <div class="author-box-body">
    <h3>About <a href="/will-cooke/" itemprop="url"><span itemprop="name">Will Cooke</span></a> <span class="author-box-alias">(8none1)</span></h3>
    <p itemprop="description">
      Will Cooke is a software engineer, engineering manager and Linux developer based in the United Kingdom.
      He works at Chainguard, co-hosts the <a href="https://latenightlinux.com">Late Night Linux</a> podcast,
      and was previously Director of Ubuntu Desktop at Canonical. He writes here about software, Linux,
      Home Assistant, solar energy and self-hosting.
    </p>
    <p><a href="/will-cooke/" class="author-box-more">Read the full profile &rarr;</a></p>
  </div>
</div>
